{{!-- Start building the login/logut form --}}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation | Welcome</title>
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link rel="stylesheet" href="./assets/style.css">
</head>

<body>

  <div>
    Welcome
  </div>
  <div class="login-box">
    <div class="row collapse expanded">
      <div class="small-12 medium-6 column small-order-2 medium-order-1">
        <div class="login-box-form-section">
          <h1 class="login-box-title">Sign up</h1>
          <input class="login-box-input" type="text" name="username" placeholder="Username" />
          <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
          <input class="login-box-input" type="password" name="password" placeholder="Password" />
          <input class="login-box-input" type="password" name="password2" placeholder="Retype password" />
          <input class="login-box-submit-button" type="submit" name="signup_submit" value="Sign me up" />
        </div>
      </div>
      <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
        <form>
          <div class="sign-in-form">
            <h4 class="text-center">Sign In</h4>
            <label for="sign-in-form-username">Username</label>
            <input type="text" class="sign-in-form-username" id="sign-in-form-username">
            <label for="sign-in-form-password">Password</label>
            <input type="text" class="sign-in-form-password" id="sign-in-form-password">
            <button type="submit" class="sign-in-form-button">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</body>

{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script> --}}
