{{!-- Rendring Dashboardview --}}
<div class="dashboardView">
    <a href="/dashboard/{{ id }}" class="postLink">
        <div class="postTitle">
            <h2>{{ title }}</h2>
            <h2>{{ format_date date_created }}</h2>
        </div>
    </a>
</div>