
<section class="pageTitle">
    <h1>Welcome to your Dashboard</h1>
</section>

<div class="postCard">
    <div class="postTitle">
        <h2>Create New Post</h2>
    </div>
    <form id="post-form">
        <div class="form-group">
            <label for="title">Title</label><br>
            <input class="form-input" type="text" id="titleN">
        </div>
        <div class="form-group">
            <label for="content">Content</label><br>
            <textarea name="content" id="contentN"></textarea>
        </div>
        <div class="form-group">
            <button class="createPostBtn" type="submit">Create</button>
        </div>
    </form>
</div>



<script src="/js/addPost.js"></script>
