
<section class="pageTitle">
  <h1>Welcome to your Dashboard</h1>
</section>
{{#each posts as |post| }}
{{> postdashboardview post }}
{{/each}}
<a id="createBtn" href="/dashboard/createpost">Create new post</a>
