
  <section class="pageTitle">
    <h1>Tech-Blog</h1>
  </section>
  <div class="postCard">
    <div class="postTitle">
      <h2>Login</h2>
    </div>
    <form class="sign-in-form">
      <div class="form-group">
        <label for="sign-in-form-username">Username</label><br>
        <input class="form-input" type="text" id="sign-in-form-username">
      </div>
      <div class="form-group">
        <label for="sign-in-form-password">Password</label><br>
        <input class="form-input" type="password" id="sign-in-form-password">
      </div>
      <div class="form-group">
        <button class="loginBtn" type="submit">Login!</button>
      </div>
    </form>
    <h3>
      <a href="/signup" class="switchLoginSignup">Or Sign Up</a>
    </h3>
  </div>
  <script src="../public/js/login.js"></script>
  
  {{!-- <div>
    Welcome
  </div>
  <div class="login-box">
    <div class="row collapse expanded">
      <div class="small-12 medium-6 column small-order-2 medium-order-1">
        <div class="login-box-form-section">
          <h1 class="login-box-title">Sign up</h1>
          <input id="name-signup" class="login-box-input" type="text" name="username" placeholder="Username" />
          <input id="email-signup" class="login-box-input" type="email" name="email" placeholder="E-mail" />
          <input id="password-signup" class="login-box-input" type="password" name="password" placeholder="Password" />
          <input class="login-box-submit-button" type="submit" name="signup_submit" value="Sign me up" />
        </div>
      </div>
      <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
        <form>
          <div class="sign-in-form">
            <h4 class="text-center">Sign In</h4>
            <label for="sign-in-form-username">Username</label>
            <input type="text" class="sign-in-form-username" id="sign-in-form-username">
            <label for="sign-in-form-password">Password</label>
            <input type="text" class="sign-in-form-password" id="sign-in-form-password">
            <button type="submit" class="sign-in-form-button">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div> --}}

