/* Establishing Main Colors for the Applicaction */

:root {
  --lightColor: #ccdad1;
  --darkColor: #38302e;
  --midColor: #9caea9;
  --darkerMidColor: #6f6866;
  --almostWhite: #e6e6e6;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
}

html {
  background-color: var(--lightColor);
}

h3, h5, h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

nav {
  display: flex;
}


header {
  background-color: var(--darkColor);
}

a, .no-button {
  color: var(--lightColor);
  text-decoration: none;
  font-weight: 400;
  margin-left: 60px;
}

.no-button {
  background-color: unset;
  border: none;
  padding: 0;
}

.pageTitle {
  background-color: var(--darkColor);
  padding: 15px 0 35px 0;
}

h1 {
  display: inline;
  margin: 0;
  margin-left: 60px;
  padding: 5px 15px;
  border-radius: 8px;
  color: var(--darkColor);
  background-color: var(--lightColor);
  font-weight: 700;
  box-shadow: 5px 5px var(--midColor);
}

.postCard, .commentCard {
  margin: 24px 50px;
  border: solid 4px var(--darkColor);
  border-radius: 4px;
}

.postTitle, .commentTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--darkColor);
}

.commentTitle {
  height: 40px;
  margin-bottom: 30px;
}

.commentCard {
  padding-bottom: 20px;
}

h2, h4 {
  margin: 6px 20px 10px 20px;
  color: var(--lightColor);
  font-weight: 400;
}

h4 {
  font-size: 0.9rem;
}

p {
  margin: 20px 20px 10px 20px;
  font-size: 1.1rem;
}

.dashboardView {
  margin: 24px 50px;
  border: solid 4px var(--darkerMidColor);
  border-radius: 10px;
  background-color: var(--darkerMidColor);
}

.dashboardView .postTitle {
  background-color: initial;
}

.dashboardView .postTitle h2 {
  color: var(--almostWhite);
  margin-bottom: 6px;
}

#createBtn {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  text-align: center;
  width: fit-content;
  background-color: var(--darkColor);
  border: none;
  color: var(--almostWhite);
  font-size: 1.8rem;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

#createBtn:hover {
  background-color: var(--darkerMidColor);
  transition: background-color 0.3s;
}

.form-group {
  margin: 10px 15px;
}

label {
  font-size: 1.1rem;
}

input, .loginBtn, .commentBtn, .createPostBtn, .deletePostBtn {
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 5px;
  font-size: 1.1rem;
}

input {
  padding-left: 20px;
}

textarea {
  height: 80px;
  width: 100%;
  resize: none;
  border: none;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.loginBtn, .commentBtn, .createPostBtn, .deletePostBtn {
  background-color: var(--darkerMidColor);
  color: var(--almostWhite);
  border-radius: 8px;
  transition: background-color 0.3s;
}

.loginBtn:hover, .commentBtn:hover, .createPostBtn:hover, .deletePostBtn:hover {
  background-color: var(--darkColor);
  transition: background-color 0.3s;
}

.postLink {
  margin: 0;
}